.Form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &-Elements {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-Inner {
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        font-size: 2rem;
      }

      input {
        font-size: 1.5rem;
      }
    }

    &-Button {
      margin-top: 20px;
      background-color: greenyellow;
      border: 1px solid greenyellow;
      border-radius: 32px;
      padding: 10px;
      font-size: 3rem;
      cursor: pointer;
    }
  }
}
